---
import { Image } from "astro:assets";
import TubeImg from "./images/support.webp"

---
<section class="bg-white pt-5 pb-10">
				<div
					class="max-w-4xl mx-auto px-6 flex flex-col md:flex-row items-center gap-12"
				>
					<div class="shrink-0">
                        <Image src={TubeImg} alt="Tube Image" loading="eager" />
					</div><div class="text-center md:text-left space-y-4">
						<p class="text-sm">
							Użytkownicy korzystający z naszych programów do
							fakturowania mogą zawsze liczyć na wsparcie naszego
							zespołu pomocy technicznej.
						</p><p class="text-gray-600 text-sm">
							Używasz programu i masz pytania dotyczące jego
							obsługi?
						</p><p class="text-gray-600 text-sm">
							Masz pytania dotyczące programu przed zakupem?
						</p><div class="space-y-1 pt-4">
							<a
								href="#"
								class="block text-raf-blue hover:underline text-sm font-medium"
								>Napisz do nas</a
							><a
								href="#"
								class="block text-raf-blue hover:underline text-sm font-medium"
								>FAQ - Częste pytania i odpowiedzi</a
							><a
								href="#"
								class="block text-raf-blue hover:underline text-sm font-medium"
								>FILMY INSTRUKTAŻOWE</a
							><a
								href="#"
								class="block text-raf-blue hover:underline text-sm font-medium"
								>DOKUMENTACJA DO PROGRAMU FAKTURA VAT</a
							>
						</div>
					</div>
				</div>
			</section>