---
import FeatureCard from "../components/feature-card.astro"
import FileIcon from "./icons/file-icon.astro"
import ListIcon from "./icons/list-icon.astro"
import CartSettings from "./icons/cart-settings.astro"
import PricingIcon from "./icons/pricing-icon.astro"
import TranslateIcon from "./icons/translate-icon.astro"
import SignIcon from "./icons/sign-icon.astro"
import UploadIcon from "./icons/upload-icon.astro"
import DocumentIcon from "./icons/document-icon.astro"
import LinkIcon from "./icons/link-icon.astro"



const features = [
	{
		icon: FileIcon,
		heading: "Wystawianie faktur i rachunków",
		description: `Wygodne i szybkie wystawianie faktur VAT bez VAT i
        rachunków. <strong>Wyszukiwarka firm w bazie GUS</strong>,
        skróty, automatyczne uzupełnianie nazw firm, fakturowanie
        seryjne, fakturowanie cykliczne, klonowanie dokumentów.
        Dodawanie automatyczne firm, towarów i usług po zapisaniu
        faktury. <strong>Faktury w wielu językach</strong>, waluty,
        kursy walut. <a href="http://rafsoft.net/split-payment-podzielona-platnosc-vat/"
        data-wpel-link="internal" target="_self" rel="follow noopener noreferrer"><strong>Split payment</strong></a>.`
	},
	{
		icon: ListIcon,
		heading: "Listy i Raporty",
		description: `<strong>Lista firm, lista dokumentów, Ewidencja VAT, Raporty
						sprzedaży, Raporty w formie wykresu, Cennik, KPiR
					</strong>&nbsp;z możliwością wydruku,&nbsp;<strong>eksportu i importu danych</strong> z baz SQL,
					plików tekstowych, CSV, Excel, HMTL, XML, JPK (JPK_FA,
					JPK_MAG, JPK_VAT) oraz eksport dokumentów do programu Rewizor
					GT.`
	},
	{
		icon: CartSettings,
		heading: "Fakturowanie z magazynem",
		description: `Wersja PRO. Prowadzenie kilku magazynów. Program do
					wystawiania faktur umożliwia przypisywanie stanów
					ilościowych dowolnemu magazynowi. Informacja o braku towaru
					oraz ostrzeżenia o małej ilości towaru. <strong>Drukowanie dokumentów magazynowych: stanów
						ilościowych,
						spisu z natury, <a href="http://rafsoft.net/dokument-wz/" data-wpel-link="internal"
							target="_self" rel="follow noopener noreferrer"
						>dokument WZ</a> i PZ.</strong>`
	},
	{
		icon: PricingIcon,
		heading: "Faktura VAT i bez VAT",
		description: `Nasze programy do fakturowania umożliwiają wystawienie
					takich dokumentów jak faktura VAT, proforma, korekta,
					zaliczkowa, końcowa, WDT, ZŁOM, uproszczona, VAT marża i
					wiele innych niezbędnych dokumentów. Ten program do
					wystawiania faktur jest również odpowiedni dla firm
					zwolnionych z VAT, umożliwiając wystawienie faktur bez VAT.
					W naszych programach do fakturowania można także dostosować
					wygląd dokumentów do indywidualnych potrzeb.`
	},
	{
		icon: TranslateIcon,
		heading: "Wielojęzyczny interfejs aplikacji",
		description: `Dzięki możliwości uruchomienia interfejsu programu w różnych
					językach (angielski, niemiecki, czeski, francuski,
					hiszpański, ukraiński) z aplikacji mogą korzystać także
					osoby nie znające języka polskiego. W programie mamy także
					możliwość wystawiania faktur w różnych językach oraz
					dowolnej konfiguracji wyglądu faktury, oraz tabel
					podatkowych. Wystawianie faktur w obcej walucie.`
	},
	{
		icon: SignIcon,
		heading: "Zgodny z przepisami",
		description: `Nasze progamy do wystawiania faktur umożliwiają
					przygotowanie dokumentów księgowych zgodne z obowiązującymi
					przepisami. W naszych programach - JPK - KSeF - Split
					paymant - Kody GTU`
	},
	{
		icon: UploadIcon,
		heading: "Zainstaluj lub uruchom online",
		description: `Dostępne wersje programów<strong>
						do instalacji na komputerach z systemem Windows lub
						działające w przeglądarce (fakturowanie online)</strong>. Program do wystawiania faktur pozwala
					na pracę zdalną
					przez internet lub w sieci lokalnej<strong>.&nbsp;</strong>Możesz pracować zdalnie w oparciu o
					lokalny lub zdalny
					serwer bazy MS SQL, MySQL`
	},
	{
		icon: DocumentIcon,
		heading: "Generowanie plików JPK",
		description: `Firmy mają obowiązek przekazywania pliku JPK co miesiąc do
					swoich biur rachunkowych lub bezpośrednio do Ministerstwa
					Finansów. Nasz <strong>Program do faktur z JPK generuje taki plik w najnowszej
						wersji JPK_VAT(7), JPK_FA oraz JPK_MAG</strong>. Dodasz <strong>kody GTU</strong> do towarów.`
	},
	{
		icon: LinkIcon,
		heading: "Integracje",
		description: `Współpraca z KSeF. Możliwość <a
						href="http://rafsoft.net/platnosci-online-dotpay-w-programie-fakturavat-2022/"
						data-wpel-link="internal" target="_self" rel="follow noopener noreferrer"
						class="text-[#008292] hover:text-[#007281]"><strong>integracji z płatnościami
							dotpay</strong></a> i automatyczne rozliczanie płatności za fakturę po zapłacie.
					Integracja z pasażami handlowymi takimi jak <strong>BaseLinker, Allegro, WooCommerce, VirtueMart czy
						PrestaShop</strong>. Integracja z systemem fakturowania online Mobilna Faktura
					oraz <strong>Rewizor GT</strong>.`
	}
]

---


<section id="features" class="py-14 bg-white">
	<div class="max-w-7xl mx-auto px-4">
		<div class="text-center mb-16">
			<h2 class="text-[31px] font-medium text-[#222] mb-4">
				Faktura VAT 2026 - program do faktur, faktur z magazynem
			</h2>
			<p class="text-[15px] font-semibold text-[#707070] mx-auto leading-[26px]">
				Intuicyjny i prosty w obsłudze program do fakturowania, VAT,
				faktur bez-VAT, pro forma, RR, zaliczek,
				<br /> Rachunków, Paragonów...
			</p>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-12">
			{
				features.map(feature => <FeatureCard Icon={feature.icon} heading={feature.heading} description={feature.description} />)
			}
		</div>
	</div>
</section>