<section id="features" class="py-14 bg-white">
	<div class="max-w-7xl mx-auto px-6">
		<div class="text-center mb-16">
			<h2 class="text-[31px] font-medium text-[#222] mb-4">
				Faktura VAT 2026 - program do faktur, faktur z magazynem
			</h2><p
				class="text-[15px] font-semibold text-[#707070] mx-auto leading-[26px]"
			>
				Intuicyjny i prosty w obsłudze program do fakturowania, VAT,
				faktur bez-VAT, pro forma, RR, zaliczek,
				<br /> Rachunków, Paragonów...
			</p>
		</div><div
			class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-12 gap-y-12"
		>
			<div class="text-center group max-w-[360px]">
				<div
					class="inline-flex items-center justify-center w-13 h-13 mb-4 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						><path
							d="M103 470h306V22H103v448zm317 21H92q-4 0-7-3t-3-7V11q0-4 3-7t7-3h328q4 0 7 3t3 7v469q0 5-3 8t-7 3zM362 85H240q-4 0-7-3t-3-7.5q0-4.5 3-7.5t7-3h122q4 0 7 3t3 7q0 11-10 11zm0 86H150q-4 0-7-3.5t-3-7.5q0-4 3-7t7-3h212q4 0 7 3t3 7q0 4-3 7.5t-7 3.5zm0 85H150q-4 0-7-3t-3-7q0-4 3-7t7-3h212q4 0 7 3t3 7q0 10-10 10zm0 86H150q-4 0-7-3t-3-7q0-4 3-7t7-3h212q4 0 7 3t3 7q0 4-3 7t-7 3zm0 86H150q-4 0-7-3t-3-7.5q0-4.5 3-7.5t7-3h212q4 0 7 3t3 8q0 10-10 10z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Wystawianie faktur i rachunków
				</h3><p class="text-[15px] text-[#707070]">
					Wygodne i szybkie wystawianie faktur VAT bez VAT i
					rachunków. <strong>Wyszukiwarka firm w bazie GUS</strong>,
					skróty, automatyczne uzupełnianie nazw firm, fakturowanie
					seryjne, fakturowanie cykliczne, klonowanie dokumentów.
					Dodawanie automatyczne firm, towarów i usług po zapisaniu
					faktury. <strong>Faktury w wielu językach</strong>, waluty,
					kursy walut. <a
						href="http://rafsoft.net/split-payment-podzielona-platnosc-vat/"
						data-wpel-link="internal"
						target="_self"
						rel="follow noopener noreferrer"
						class="text-[#008292] hover:text-[#007281]"
						><strong>Split payment</strong></a
					>.
				</p>
			</div><div class="text-center group max-w-[360px]">
				<div
					class="inline-flex items-center justify-center w-13 h-13 mb-4 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						><path
							d="M32 116h74V42H32v74zm84 21H21q-4 0-7-3t-3-8V32q0-5 3-8t7-3h95q4 0 7 3t3 8v94q0 5-3 8t-7 3zm375-47H166q-4 0-7-3.5t-3-7.5q0-4 3-7t7-3h325q4 0 7 3t3 7q0 4-3 7.5t-7 3.5zM32 283h74v-74H32v74zm84 21H21q-4 0-7-3t-3-8v-94q0-5 3-8t7-3h95q4 0 7 3t3 8v94q0 5-3 8t-7 3zm375-48H166q-4 0-7-3t-3-7q0-4 3-7t7-3h325q4 0 7 3t3 7q0 4-3 7t-7 3zM32 450h74v-74H32v74zm84 21H21q-4 0-7-3t-3-8v-94q0-5 3-8t7-3h95q4 0 7 3t3 8v94q0 5-3 8t-7 3zm375-48H166q-4 0-7-3t-3-7q0-4 3-7t7-3h325q4 0 7 3t3 7q0 4-3 7t-7 3z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Listy i Raporty
				</h3><p class="text-[15px] text-[#707070]">
					<strong
						>Lista firm, lista dokumentów, Ewidencja VAT, Raporty
						sprzedaży, Raporty w formie wykresu, Cennik, KPiR
					</strong>&nbsp;z możliwością wydruku,&nbsp;<strong
						>eksportu i importu danych</strong
					> z baz SQL, plików tekstowych, CSV, Excel, HMTL, XML, JPK (JPK_FA,
					JPK_MAG, JPK_VAT) oraz eksport dokumentów do programu Rewizor
					GT.
				</p>
			</div><div class="text-center group max-w-[356px]">
				<div
					class="inline-flex items-center justify-center w-13 h-13 mb-4 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						><path
							d="M484 408q10 0 10 10 0 4-3 7t-7 3h-67q11 11 11 26t-11 26q-11 11-26 11t-26-11q-11-11-11-26t10-26H244q10 11 10 26t-11 26q-11 11-26 11t-26-11q-11-11-11-26t11-26h-41q-8 0-10-8L65 105H28q-4 0-7-3t-3-7.5q0-4.5 3-7.5t7-3h46q8 0 10 8l21 92h69q0-3 3-5l6-7q-1-2-2-6h-10q-4 0-7-3t-3-7V96q0-4 3-7t7-3h10q1-4 2-6l-6-7q-8-7 0-14l41-42q8-8 15 0l7 7 6-3V11q0-4 3-7t7-3h60q4 0 7 3t3 7v10l6 3 7-7q7-8 15 0l41 42q3 3 3 7t-3 7l-6 7q1 2 2 6h10q4 0 7 3t3 8v59q0 4-3 7t-7 3h-10q-1 4-2 6l6 7q3 2 3 5h77q6 0 8.5 4.5t1.5 8.5l-39 163q-1 8-10 8H149l9 40h326zM182 145h6q8 0 10 8 3 9 7 16t-2 13l-2 2h170l-2-2q-6-6-2-13 4-8 7-16 2-8 10-8h6v-38h-6q-8 0-10-7-3-9-7-17-4-7 2-12l4-5-27-27-5 5q-5 5-12 1-8-4-17-7-7-2-7-10v-6h-38v6q0 8-8 10-8 3-16 7-7 4-13-1l-4-5-27 27 4 5q6 5 2 12-4 9-7 17-2 7-10 7h-6v38zm-72 60l34 142h284l34-142H110zm96 260.5q5 4.5 11.5 4.5t11-4.5q4.5-4.5 4.5-11t-4.5-11.5q-4.5-5-11-5t-11.5 5q-5 5-5 11.5t5 11zm173.5 0q4.5 4.5 11 4.5t11.5-4.5q5-4.5 5-11t-4.5-11.5q-4.5-5-11.5-5t-11.5 5q-4.5 5-4.5 11.5t4.5 11zM315 155q-12 12-29 12t-29-12q-12-12-12-29t12-29q12-12 29-12t29 12q12 12 12 29t-12 29zm-15-43q-6-6-14-6t-14 6q-6 6-6 14.5t6 14q6 5.5 14 5.5t14-5.5q6-5.5 6-14t-6-14.5z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Fakturowanie z magazynem
				</h3><p class="text-[15px] text-[#707070]">
					Wersja PRO. Prowadzenie kilku magazynów. Program do
					wystawiania faktur umożliwia przypisywanie stanów
					ilościowych dowolnemu magazynowi. Informacja o braku towaru
					oraz ostrzeżenia o małej ilości towaru. <strong
						>Drukowanie dokumentów magazynowych: stanów ilościowych,
						spisu z natury, <a
							href="http://rafsoft.net/dokument-wz/"
							data-wpel-link="internal"
							target="_self"
							rel="follow noopener noreferrer"
							class="text-[#008292] hover:text-[#007281]"
							>dokument WZ</a
						> i PZ.</strong
					>
				</p>
			</div><div class="text-center group max-w-[360px]">
				<div
					class="inline-flex items-center justify-center w-10 h-10 mb-4 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						aria-hidden="true"
						class="e-font-icon-svg e-fas-file-invoice-dollar"
						viewBox="0 0 384 512"
						xmlns="http://www.w3.org/2000/svg"
						><path
							d="M377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-153 31V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zM64 72c0-4.42 3.58-8 8-8h80c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8V72zm0 80v-16c0-4.42 3.58-8 8-8h80c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8H72c-4.42 0-8-3.58-8-8zm144 263.88V440c0 4.42-3.58 8-8 8h-16c-4.42 0-8-3.58-8-8v-24.29c-11.29-.58-22.27-4.52-31.37-11.35-3.9-2.93-4.1-8.77-.57-12.14l11.75-11.21c2.77-2.64 6.89-2.76 10.13-.73 3.87 2.42 8.26 3.72 12.82 3.72h28.11c6.5 0 11.8-5.92 11.8-13.19 0-5.95-3.61-11.19-8.77-12.73l-45-13.5c-18.59-5.58-31.58-23.42-31.58-43.39 0-24.52 19.05-44.44 42.67-45.07V232c0-4.42 3.58-8 8-8h16c4.42 0 8 3.58 8 8v24.29c11.29.58 22.27 4.51 31.37 11.35 3.9 2.93 4.1 8.77.57 12.14l-11.75 11.21c-2.77 2.64-6.89 2.76-10.13.73-3.87-2.43-8.26-3.72-12.82-3.72h-28.11c-6.5 0-11.8 5.92-11.8 13.19 0 5.95 3.61 11.19 8.77 12.73l45 13.5c18.59 5.58 31.58 23.42 31.58 43.39 0 24.53-19.05 44.44-42.67 45.07z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Faktura VAT i bez VAT
				</h3><p class="text-[15px] text-[#707070]">
					Nasze programy do fakturowania umożliwiają wystawienie
					takich dokumentów jak faktura VAT, proforma, korekta,
					zaliczkowa, końcowa, WDT, ZŁOM, uproszczona, VAT marża i
					wiele innych niezbędnych dokumentów. Ten program do
					wystawiania faktur jest również odpowiedni dla firm
					zwolnionych z VAT, umożliwiając wystawienie faktur bez VAT.
					W naszych programach do fakturowania można także dostosować
					wygląd dokumentów do indywidualnych potrzeb.
				</p>
			</div><div class="text-center group max-w-[360px]">
				<div
					class="inline-flex items-center justify-center w-13 h-13 mb-2 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						aria-hidden="true"
						class="e-font-icon-svg e-fas-language"
						viewBox="0 0 640 512"
						xmlns="http://www.w3.org/2000/svg"
						><path
							d="M152.1 236.2c-3.5-12.1-7.8-33.2-7.8-33.2h-.5s-4.3 21.1-7.8 33.2l-11.1 37.5H163zM616 96H336v320h280c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24zm-24 120c0 6.6-5.4 12-12 12h-11.4c-6.9 23.6-21.7 47.4-42.7 69.9 8.4 6.4 17.1 12.5 26.1 18 5.5 3.4 7.3 10.5 4.1 16.2l-7.9 13.9c-3.4 5.9-10.9 7.8-16.7 4.3-12.6-7.8-24.5-16.1-35.4-24.9-10.9 8.7-22.7 17.1-35.4 24.9-5.8 3.5-13.3 1.6-16.7-4.3l-7.9-13.9c-3.2-5.6-1.4-12.8 4.2-16.2 9.3-5.7 18-11.7 26.1-18-7.9-8.4-14.9-17-21-25.7-4-5.7-2.2-13.6 3.7-17.1l6.5-3.9 7.3-4.3c5.4-3.2 12.4-1.7 16 3.4 5 7 10.8 14 17.4 20.9 13.5-14.2 23.8-28.9 30-43.2H412c-6.6 0-12-5.4-12-12v-16c0-6.6 5.4-12 12-12h64v-16c0-6.6 5.4-12 12-12h16c6.6 0 12 5.4 12 12v16h64c6.6 0 12 5.4 12 12zM0 120v272c0 13.3 10.7 24 24 24h280V96H24c-13.3 0-24 10.7-24 24zm58.9 216.1L116.4 167c1.7-4.9 6.2-8.1 11.4-8.1h32.5c5.1 0 9.7 3.3 11.4 8.1l57.5 169.1c2.6 7.8-3.1 15.9-11.4 15.9h-22.9a12 12 0 0 1-11.5-8.6l-9.4-31.9h-60.2l-9.1 31.8c-1.5 5.1-6.2 8.7-11.5 8.7H70.3c-8.2 0-14-8.1-11.4-15.9z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Wielojęzyczny interfejs aplikacji
				</h3><p class="text-[15px] text-[#707070]">
					Dzięki możliwości uruchomienia interfejsu programu w różnych
					językach (angielski, niemiecki, czeski, francuski,
					hiszpański, ukraiński) z aplikacji mogą korzystać także
					osoby nie znające języka polskiego. W programie mamy także
					możliwość wystawiania faktur w różnych językach oraz
					dowolnej konfiguracji wyglądu faktury, oraz tabel
					podatkowych. Wystawianie faktur w obcej walucie.
				</p>
			</div><div class="text-center group max-w-[356px]">
				<div
					class="inline-flex items-center justify-center w-13 h-13 mb-2 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						aria-hidden="true"
						class="e-font-icon-svg e-fas-file-signature"
						viewBox="0 0 576 512"
						xmlns="http://www.w3.org/2000/svg"
						><path
							d="M218.17 424.14c-2.95-5.92-8.09-6.52-10.17-6.52s-7.22.59-10.02 6.19l-7.67 15.34c-6.37 12.78-25.03 11.37-29.48-2.09L144 386.59l-10.61 31.88c-5.89 17.66-22.38 29.53-41 29.53H80c-8.84 0-16-7.16-16-16s7.16-16 16-16h12.39c4.83 0 9.11-3.08 10.64-7.66l18.19-54.64c3.3-9.81 12.44-16.41 22.78-16.41s19.48 6.59 22.77 16.41l13.88 41.64c19.75-16.19 54.06-9.7 66 14.16 1.89 3.78 5.49 5.95 9.36 6.26v-82.12l128-127.09V160H248c-13.2 0-24-10.8-24-24V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24v-40l-128-.11c-16.12-.31-30.58-9.28-37.83-23.75zM384 121.9c0-6.3-2.5-12.4-7-16.9L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1zm-96 225.06V416h68.99l161.68-162.78-67.88-67.88L288 346.96zm280.54-179.63l-31.87-31.87c-9.94-9.94-26.07-9.94-36.01 0l-27.25 27.25 67.88 67.88 27.25-27.25c9.95-9.94 9.95-26.07 0-36.01z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Zgodny z przepisami
				</h3><p class="text-[15px] text-[#707070]">
					Nasze progamy do wystawiania faktur umożliwiają
					przygotowanie dokumentów księgowych zgodne z obowiązującymi
					przepisami. W naszych programach - JPK - KSeF - Split
					paymant - Kody GTU
				</p>
			</div><div class="text-center group max-w-[366px]">
				<div
					class="inline-flex items-center justify-center w-13 h-13 mb-2 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						><path
							d="M148 158q-5 0-8.5-5.5T141 140L249 32q7-7 14 0l108 108q5 7 1.5 12.5T364 158h-59v158q0 4-3 7t-7 3h-78q-4 0-7-3t-3-7V158h-59zM256 54l-82 83h43q4 0 7 3t3 7v158h58V147q0-4 3-7t7-3h43l-82-83zm235 251q4 0 7 3t3 8v136q0 4-3 7.5t-8 3.5H21q-4 0-7-3t-3-8V316q0-5 3-8t7-3h62q4 0 7 3t3 8v58h326v-58q0-5 3-8t7-3h62zm-11 137V326h-40v58q0 4-3 7t-8 3H83q-5 0-8-3t-3-7v-58H32v116h448z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Zainstaluj lub uruchom online
				</h3><p class="text-[15px] text-[#707070]">
					Dostępne wersje programów<strong>
						do instalacji na komputerach z systemem Windows lub
						działające w przeglądarce (fakturowanie online)</strong
					>. Program do wystawiania faktur pozwala na pracę zdalną
					przez internet lub w sieci lokalnej<strong>.&nbsp;</strong
					>Możesz pracować zdalnie w oparciu o lokalny lub zdalny
					serwer bazy MS SQL, MySQL
				</p>
			</div><div class="text-center group max-w-[330px]">
				<div
					class="inline-flex items-center justify-center w-13 h-13 mb-2 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512 512"
						><path
							d="M411 1q5 0 8 3t3 7v469q0 5-3 8t-8 3H101q-5 0-8-3t-3-8V94q0-4 3-7l83-83 7-3h228zM173 37l-47 47h47V37zm228 433V22H194v72q0 4-3 7.5t-8 3.5h-72v365h290zM142 311l51-132h28l53 132h-29l-12-30h-52l-11 30h-28zm83-52l-18-49-18 49h36zm91-4q16-3 24-6v-3q0-7-3.5-10t-13.5-3q-7 0-10.5 2.5T306 245l-22-5q3-13 12.5-19.5T325 214q17 0 25 3.5t12 10.5q3 6 3 22v30q0 12 1 18t4 13h-25q0-2-2-8-1-2-1-3-6 7-14 10-7 3-15 3-15 0-23.5-8t-8.5-20q0-8 4-14.5t11-9.5q6-4 20-6zm24 15v-5q-5 1-15 4-11 2-14 4-5 4-5 9t4 9q4 4 10 4 7 0 13-5 4-3 6-8 1-3 1-12z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Generowanie plików JPK
				</h3><p class="text-[15px] text-[#707070]">
					Firmy mają obowiązek przekazywania pliku JPK co miesiąc do
					swoich biur rachunkowych lub bezpośrednio do Ministerstwa
					Finansów. Nasz <strong
						>Program do faktur z JPK generuje taki plik w najnowszej
						wersji JPK_VAT(7), JPK_FA oraz JPK_MAG</strong
					>. Dodasz <strong>kody GTU</strong> do towarów.
				</p>
			</div><div class="text-center group">
				<div
					class="inline-flex items-center justify-center w-13 h-13 mb-2 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 512.0012 513"
						><path
							d="M220 300q23 4 44-1-5 8-12 15l-78 78q-29 29-70.5 28t-72-31.5Q1 358 0 316.5T27 246l79-79q29-28 70.5-27t71.5 31q21 21 28 49l-3 3q-11 11-27 13-3-24-21-41-20-21-48.5-22T129 191l-78 78q-19 19-18 47t21.5 49Q75 386 103 387t47-18l70-69zm21-267q28-29 70-28t72 31.5q30 30.5 31.5 72T387 179l-79 79q-28 28-70 27t-72-31q-20-21-28-49l3-3q11-11 27-13 4 24 21 41 21 21 49 22t47-18l79-78q19-19 17.5-47t-22-49Q339 39 311 38t-47 18l-69 69q-23-4-45 1 6-8 12-15l79-78zm84 289q32-32 77.5-32t77.5 32q32 32 32 77.5T480 477q-32 32-77.5 32T325 477q-32-32-32-77.5t32-77.5zm142 100q9 0 16-7t7-16.5q0-9.5-7-16.5t-16-7h-41v-40q0-10-6.5-16.5t-16-6.5q-9.5 0-16.5 6.5t-7 16.5v40h-41q-9 0-16 7t-7 16.5q0 9.5 7 16.5t16 7h41v40q0 10 7 17t16.5 7q9.5 0 16-7t6.5-17v-40h41z"
						></path></svg
					>
				</div><h3 class="text-[20px] font-medium text-gray-800 mb-3">
					Integracje
				</h3><p class="text-[15px] text-[#707070]">
					Współpraca z KSeF. Możliwość <a
						href="http://rafsoft.net/platnosci-online-dotpay-w-programie-fakturavat-2022/"
						data-wpel-link="internal"
						target="_self"
						rel="follow noopener noreferrer"
						class="text-[#008292] hover:text-[#007281]"
						><strong>integracji z płatnościami dotpay</strong></a
					> i automatyczne rozliczanie płatności za fakturę po zapłacie.
					Integracja z pasażami handlowymi takimi jak <strong
						>BaseLinker, Allegro, WooCommerce, VirtueMart czy
						PrestaShop</strong
					>. Integracja z systemem fakturowania online Mobilna Faktura
					oraz <strong>Rewizor GT</strong>.
				</p>
			</div>
		</div>
	</div>
</section>
