---
import { Image } from "astro:assets";
import FakturaVATSreenshot from "./images/FakturaVAT-screenshots.webp";
---

<section class="w-full">
	<div class="grid md:grid-cols-2 min-h-[460px]">
		{/* LEFT: TEXT BLOCK WITH DARK BG */}
		<div
			class="bg-[#273238] text-white flex items-center justify-right px-10 md:px-25 py-20"
		>
			<div class="text-right">
				<h2 class="text-3xl md:text-[34px] font-medium mb-8">
					Prosty program do faktur!
				</h2>

				<p
					class="text-base font-normal leading-[26.4px] text-gray-100 mb-10"
				>
					<a
						href="/program-faktura-vat-start/"
						class="text-[#18abbd] font-semibold"
					>
						Program Faktura VAT 2026
					</a>
					jest
					<span class="font-semibold">
						{" "}
						dostępny w 3 wersjach
					</span>
					{" "}
					START, STANDARD, PRO. To nowoczesny i prosty program do fakturowania,
					który jest rekomendowany dla firm o różnym profilu działalności.
					Idealnie sprawdzi się w małych i średnich przedsiębiorstwach
					produkcyjnych, usługowych i handlowych. Pomoże łatwo i szybko
					wystawić fakturę i edytować wszystkie dokumenty sprzedaży i zakupu,
					<span class="font-semibold">
						{" "}
						Intuicyjna i prosta obsługa za pomocą myszki lub klawiatury.
						Darmowe aktualizacje. Bezpłatna pomoc techniczna!
					</span>
					{" "}
					Filmy instruktażowe
				</p>

				<a
					href="/cennik-faktura-vat/"
					class="inline-flex items-center justify-center px-10 py-3 border-2 border-[#18abbd] text-white text-base font-normal rounded-md hover:bg-[#18abbd] hover:text-white transition"
				>
					Porównaj wersje programu
				</a>
			</div>
		</div>

		{/* RIGHT: IMAGE BLOCK WITH WHITE BG */}
		<div
			class="bg-white flex items-center justify-center px-10 md:px-25 py-10"
		>
			<Image
				src={FakturaVATSreenshot}
				alt="Faktura VAT Screenshot"
				class="w-full drop-shadow-2xl"
				height={FakturaVATSreenshot.height}
				width={FakturaVATSreenshot.width}
				loading="eager"
			/>
		</div>
	</div>
</section>
