@import "tailwindcss";

@theme {
  --link: #008292;
  --link-hover: #007281;
}

@layer base {
  body {
    color: #3A4F66
;
  }
  a {
    color: var(--link);
  }
  a:hover {
    color: var(--link-hover);
  }
}
