---
const {Icon, heading, description} = Astro.props
---

<div class="text-center group">
    <div
        class="inline-flex items-center justify-center w-13 h-13 mb-4 fill-[#48D4C2] group-hover:fill-[#19abbd] transition-all duration-300">
        <Icon />
    </div>
    <h3 class="text-[20px] font-medium text-gray-800 mb-3">
        { heading }
    </h3>
    <p class="text-[15px] text-[#707070] [&_a]:text-[#008292] [&_a:hover]:text-[#007281]" set:html={ description }>
    </p>
</div>