---
import { Image } from "astro:assets";
import TubeImg from "../images/support.webp";
---

<section class="bg-white pt-5 pb-10">
	<div
		class="max-w-4xl mx-auto px-6 flex flex-col md:flex-row items-center gap-12"
	>
		<Image src={TubeImg} alt="Tube Image" loading="eager" />
		<div class="text-center text-[16px] md:text-left space-y-6">
			<p>
				Użytkownicy korzystający z naszych programów do fakturowania
				mogą zawsze liczyć na wsparcie naszego zespołu pomocy
				technicznej.
			</p>
			<p>Używasz programu i masz pytania dotyczące jego obsługi?</p>
			<p>Masz pytania dotyczące programu przed zakupem?</p>
			<div class="text-[16px] flex flex-col">
				<a href="#" class="mb-6">Napisz do nas</a>
				<a href="#">FAQ - Częste pytania i odpowiedzi</a>
				<a href="#">FILMY INSTRUKTAŻOWE</a>
				<a href="#">DOKUMENTACJA DO PROGRAMU FAKTURA VAT</a>
			</div>
		</div>
	</div>
</section>
