---
import { Image } from "astro:assets";
import bgImg from "../images/hero-bg.jpg";
import winImg from "../images/windows.png";
---

<section
	id="home"
	style={`background-image: url('${bgImg.src}');`}
	class="bg-hero-pattern bg-[#04549c] bg-cover bg-center text-white pt-[150px] pb-[120px] relative overflow-hidden"
>
	<div
		class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative z-20 flex flex-col items-center text-center"
	>
		<h1
			class="text-4xl text-white font-semibold mb-6 tracking-tight leading-tight"
		>
			Program do faktur - Faktura VAT 2026 KSeF
		</h1>
		<p
			class="text-white text-[16px] mb-14 font-medium leading-[2.1] word-spacing-[4px] text-shadow-[0_0_10px_rgb(0_0_0_/.3)] tracking-wider"
		>
			Prosty program do fakturowania dla małych i średnich firm<br /><span
				class="text-[#808080] text-[16px] font-semibold leading-[2.3] word-spacing-[4px] opacity-80 block text-shadow-black"
				>Program do faktur z magazynem. Mała Księgowość, KPiR, CRM
				<br />
				Faktury, pro-forma, rachunki, paragony...
				<br />Integracje: KSeF, JPK, Allegro, BaseLinker, WooCommerce,
				Prestashop, PayU, Przelewy24, 1pay, Rewizor GT
			</span>
			<div
				class="grid md:grid-cols-2 gap-12 w-full mt-8 items-center text-left"
			>
				<div class="space-y-12">
					<div class="flex flex-col mb-3">
						<h3 class="text-lg font-semibold mb-3">
							Oferta naszych programów do faktur:
						</h3>
						<ul
							class="space-y-2 text-[#19ABBD] font-medium text-lg"
						>
							<li class="flex items-center gap-2">
								<span>1.</span> Faktura VAT 2026 START
							</li>
							<li class="flex items-center gap-2">
								<span>2.</span> Faktura VAT 2026 STANDARD
							</li>
							<li class="flex items-center gap-2">
								<span>3.</span> Faktura VAT 2026 PRO
							</li>
						</ul>
					</div>
					<div class="flex gap-2 opacity-80 mb-0">
						<div>
							<Image src={winImg} alt="Windows Logos" loading="eager" />
						</div>
					</div>
					<div class="flex flex-wrap gap-4 mt-4">
						<button
							class="bg-white text-black hover:bg-[#69727d] font-medium py-3 px-8 cursor-pointer rounded shadow-lg transition-all flex items-center gap-2"
							><svg
								class="w-5 h-5"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"
								>
								</path>
							</svg>Kup teraz</button
						><button
							class="bg-[#d41717] hover:bg-[#c60808] text-white font-medium py-3 px-8 rounded cursor-pointer shadow-lg transition-all"
							>Porównaj funkcjonalności</button
						>
					</div>
				</div>
				<div class="relative group cursor-pointer mt-8">
					<div class="bg-white shadow-2xl">
						<video
							id="volPlayer"
							class="vol-player"
							src="https://ksiegowosc24.pl/wp-content/uploads/2023/08/Wystawianie-faktur-w-programie-Faktura-VAT-2023.mp4#t=1"
						></video>
						<div
							class="absolute inset-0 flex items-center justify-center"
						>
							<div
								class="bg-[#d41717] text-white w-24 h-18 rounded-2xl flex items-center justify-center shadow-2xl transition-transform"
							>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									class="lucide lucide-play w-8 h-8 fill-current"
									aria-hidden="true"
								>
									<path
										d="M5 5a2 2 0 0 1 3.008-1.728l11.997 6.998a2 2 0 0 1 .003 3.458l-12 7A2 2 0 0 1 5 19z"
									>
									</path>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
		</p>
	</div>
</section>
