---
import { AstroFont } from "astro-font";
import "../styles/global.css";
import Navbar from "../partials/navbar.astro";
import Footer from "../partials/footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<AstroFont
			config={[
				{
					src: [],
					name: "Poppins",
					// Google Fonts URL
					googleFontsURL:
						"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap",
					preload: true,
					display: "swap",
					selector: "body",
					fallback: "sans-serif",
				},
			]}
		/>

		<title>Rafsoft Net website</title>
	</head>
	<body>
		<Navbar />
			<main>
				<slot />
			</main>
		<Footer />
	</body>
</html>
